
__pycache__/
*__pycache__
.idea/
*.pyc
data

scratch.py

*.m

.ipynb_checkpoints

checkpoints
runs

metrics/structural_losses/*.so
metrics/structural_losses/*.cu.o
metrics/structural_losses/makefile
evaluation/mesh2sdf2_cuda/build/
evaluation/mesh2sdf2_cuda/*.so

PyMesh
checkpoint

torchdiffeq/
demo/
logs/
checkpoint/
evaluation/StructuralLosses/

logs
logs_*/

pretrained
